.denominations {
    display:flex;
    margin-top: 2%;
   
}

.main {
    text-align: center;
    

}

.input-side {
    
    
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);
    border-radius: 25px;
    width: 27%;
    height: 35.3vh;
    margin-left: 0.5%; 
    margin-top: 1.5%;
    
}

.change {
    justify-self: right;
    width: 40%;
    margin-left: 25%;
    margin-top: 41px;
}

.h3-output {
    justify-content: center;
    margin: 1%;
    display: flex;
    
    
    
    gap: 20px;
}

h3 {
    border-style: solid;
    background-color: rgb(146, 170, 167);
    border-color: rgb(182, 182, 182);
    width: 80px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    padding: 22px; 
    border-width: 3px;
    margin: 3%
    
}

input {
    height: 11.2%;
    width: 50%;
    margin: 0%;
    border-radius: 25px;
}





.output-side {
    
    justify-items: center;
    
    width: 70%;
    height: 90%;       /* I AM HEREREEEEE*/
    flex-wrap: wrap;
    padding-right: 0px;
    align-items: center;
    margin-left: 17%;
    margin-right: 0%;
}

h1 {
    text-align: center;
}

.sub-main {
    margin-top: 3%;
    display:flex;
    justify-content: center;
    height: 0%;
    
}

button {
    height: 11%;
    width: 40%;
    margin: 11%;
    border-radius: 25px;
}

.organize {
    
    justify-content: center;
    justify-items: center;
    width: 60%;
    margin: 0.8%;
    
}

.organize-denom {
    height: 139.5%;
    width: 98%;
    border-width: 1px;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);
    border-radius: 25px;
    
    
}

.sound-board {
    border-style: solid;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);
    display: block;
    margin-top: 14.6%;
    margin-right: 0.5%;
    border-radius: 25px;
    height: 78%;
    width: 100%;
    
}

.sound-board-buttons-container {
    display: flex;
    width: 100%;
    
}
.sound-board-buttons {
    /*align-content: center;*/
    
    justify-content: center;
    height: 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.currency-selector-container{
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    display: block;
    margin-top: 11.5%; 
    height: 0%;
    justify-content: right;
    margin-right: 0%;
    width: 58.7%;
    margin-left: 34.2%;
    margin-bottom: 10%;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);;
}

.currency-selector-buttons{
    height: 0%;
    display: flex;
    
    margin-top: 2%
    
}