.denominations {
    display:flex;
    margin-top: 20px;
   
}

.main {
    text-align: center;
    

}

.input-side {
    
    
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);
    border-radius: 25px;
    width: 40vh;
    height: 34.3vh;
    
    margin-top:32px;
    
}

.change {
    justify-self: right;
    width: 350px;
    margin-left: 200px;
    margin-top: 41px;
}

h3 {
    border-style: solid;
    background-color: rgb(146, 170, 167);
    border-color: rgb(182, 182, 182);
    width: 80px;
    height: 50px;
    text-align: center;
    border-radius: 25%;
    padding: 22px; 
    border-width: 3px;
    margin-left: 30px;
    margin-right: 30px;
    
}

input {
    height: 50px;
    width: 50%;
    margin: 0%;
    border-radius: 25px;
}

.amount-due {
     margin: 0px;
}

.amount-received {
    margin-right: 0px;
}

.output-side {
    
    justify-content: center;
    padding: 0px;
    width: 72vh;
    height: 50vh;
    flex-wrap: wrap;
    padding-right: 0px;
}

h1 {
    text-align: center;
}

.sub-main {
    margin-top: 46px;
    display:flex;
    justify-content: center;
    
}

button {
    height: 50px;
    width: 150px;
    margin: 55px;
    border-radius: 25px;
}

.organize {
    
    
   
    margin: 10px;
    
}

.organize-denom {
    
    border-width: 1px;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);
    border-radius: 25px;
    
    
}

.sound-board {
    border-style: solid;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);
    display: block;
    margin-top: 43px;
    margin-left: -1px;
    border-radius: 25px;
    height: 371px;
    width: 40vh;
    
}

.sound-board-buttons-container {
    display: flex;
    
}
.sound-board-buttons {
    /*align-content: center;*/
    margin-left: 10%;
    justify-content: center;
    height: 200px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    
}

.currency-selector-container{
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    display: block;
    margin-top: 0px; 
    height: 175px;
    margin-bottom: 200px;
    justify-content: right;
    margin-right: 20px;
    width: 72vh;
    margin-left: 548px;
    margin-bottom: 105px;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);;
}

.currency-selector-buttons{
    height: 250px;
    display: flex;
    margin: 19px;
    
}