.denominations {
    display:flex;
    margin-top: 2%;
   
}

.main {
    text-align: center;
    

}

.input-side {
    
    
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);
    border-radius: 25px;
    width: 500px;
    height: 432px;
    margin-left: 20px; 
    margin-top: 44px;
    
}

.change {
    justify-content: right;
    width: 200px;
    margin-left: 200px;
    margin-top: 30px;
    margin-right: 10px;
    height: 200px;
    width: 300px;
}

.h3-output {
    justify-content: center;
    margin: 30px;
    display: flex;
    
    
    
    gap: 20px;
}

h3 {
    border-style: solid;
    background-color: rgb(146, 170, 167);
    border-color: rgb(182, 182, 182);
    width: 80px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    padding: 22px; 
    border-width: 3px;
    margin: 10px;
    
}

input {
    height: 50px;
    width: 250px;
    margin: 0%;
    border-radius: 25px;
}





.output-side {
    
    justify-items: center;
    
    width:  700px;
    height: 575px;       /* I AM HEREREEEEE*/
    flex-wrap: wrap;
    padding-right: 0px;
    align-items: center;
    margin-left: 145px;
    margin-right: 0%;
}

h1 {
    text-align: center;
}

.sub-main {
    margin-top: 20px;
    display:flex;
    justify-content: center;
    height: 0%;
    
}

button {
    height: 50px;
    width: 200px;
    margin: 52px;
    border-radius: 25px;
}

.organize {
    
    justify-content: center;
    justify-items: center;
    width: 1000px;
    margin: 10px;
    
}

.organize-denom {
    height: 590px;
    width: 970px;
    margin-left: 0px;
    border-width: 1px;
    margin-right: 19px;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);
    border-radius: 25px;
    
    
}



.sound-board {
    border-style: solid;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);
    display: block;
    margin-top: 30px;
    margin-right:  5px;
    border-radius: 25px;
    height: 337px;
    width: 499px;
    
}

.sound-board-buttons-container {
    display: flex;
    width: 400px;
    margin-left: 10px;
    
}
.sound-board-buttons {
    /*align-content: center;*/
    
    justify-content: center;
    height: 100px;
    width: 400px;
    margin-left: 65px;
    display: flex;
    flex-wrap: wrap;
    
}

.currency-selector-container{
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    display: block;
    margin-top: 0px; 
    
    justify-content: right;
     height: 185px;
    width: 965px;
    margin-left: 540px;
    margin-bottom: 100px;
    border-color: rgb(175, 194, 199);
    background-color: rgb(175, 194, 199);;
}

.currency-selector-buttons{
    height: 0%;
    display: flex;
    
    margin-top: 35px
    
}