:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  background-color: aliceblue;
  
}

body {
  display: flex;
  background-image: url('/assets/Screen.png');/* Replace with your image path */
  background-size: 1665px 1100px; /* Ensures the image covers the entire area, cropping if necessary */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  justify-content: center;
  background-position: 50% 30%;
  padding-bottom: 200px;
  
}



